<?xml version="1.0" encoding="UTF-8"?>


<root>
<languages>
<l>English</l>
<l>Albanian</l>
<l>Arabic</l>
<l>Bulgarian</l>
<l>Catalan</l>
<l>Chinese</l>
<l>Croatian</l>
<l>Czech</l>
<l>Danish</l>
<l>Dutch</l>
<l>Estonian</l>
<l>Filipino</l>
<l>Finnish</l>
<l>French</l>
<l>Galicians</l>
<l>German</l>
<l>Greek</l>
<l>Hebrew</l>
<l>Hindi</l>
<l>Hungarian</l>
<l>Indonesian</l>
<l>Italian</l>
<l>Japanese</l>
<l>Korean</l>
<l>Latvian</l>
<l>Lithuanian</l>
<l>Maltese</l>
<l>Norwegian</l>
<l>Persian</l>
<l>Polish</l>
<l>Portugese</l>
<l>Romanian</l>
<l>Russian</l>
<l>Serbian</l>
<l>Slovak</l>
<l>Slovenian</l>
<l>Spanish</l>
<l>Swedish</l>
<l>Thai</l>
<l>Turkish</l>
<l>Ukranian</l>
<l>Vietnamese</l>
</languages>
</root>
